
/* ===========================
     css reset
=========================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* =============================================
     HTML5 display-role reset for older browsers
===============================================*/

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ===========================
     Main body
=========================== */

.main {
  width: 100%;
  height: 100vh;
  background: teal;

}

/* ===========================
     header section
=========================== */

nav {
  width: 100%;
  height: 8.6rem;
  display: flex;
}

.logo {
  width: 70%;
  height: 1.6rem;
}

.logo h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  animation: animate 1s linear infinite;
  animation-direction: alternate;
}

/* ===========================
    Anmation secton
=========================== */

@keyframes animate {
    from {
      padding-left: 40px;
    }
    to{
      padding-right: 40px;
    }
}

.logo h2 {
  line-height: 5.0rem;
  padding-left: 2.4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}

.logo h2::first-letter {
  color: #ff0000;
  font-size: 35px;
}

.resume {
  position: absolute;
  right: 2.5rem;
  top: 2.0rem;
}

.resume a {
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 1rem;
  padding: 10px;
}

.resume a:hover {
  background-color: #f0e68c;
}

/* ===========================
     Last section
=========================== */

section {
  display: flex;
}

.left {
  width: 30%;
  height: auto;
  overflow: hidden;
  margin-top: 1.5rem;
}

.left img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0.2rem;

}

.right {
  width: 60%;
  height: 20vh;
  color: #fff;
  margin-top: 80px;
  padding: 40px
}

.right h1 {
  font-size: 30px;
  font-weight: 900;
  word-spacing: 5px;
  position: relative;
  bottom: 6.6rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

.right h1:after {
  content: "";
  width: 350px;
  height: 3px;
  position: absolute;
  top:48% ;
  left: 25%;
  background-color: #fff;
}

.right p {
  font-size: 1.6rem;
  letter-spacing: 2px; 
  font-size: 25px;
  position: relative;
  bottom: 4.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.right a {
  font-size: 25px;
  color: #fff;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  bottom: 2.6rem;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 4px;
}

/* ===========================
     media query
=========================== */

/* media query for Mobile Phone */

@media (max-width: 600px) {
  .main {
    width: 100%;
  }

  nav {
    width: 100%;
    height: auto;
  }
  
  section {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .left {
    width: 100%;
    height: auto;
    position: relative;
    top: 2.7rem;
  }

  .left img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0.4rem;
  }

  .right {
    width: 100%;
    height:auto;
  }
  
  .right h1 {
    font-size: 20px;
    position: relative;
    top: -25px;
  }
  
  .right h1:after {
    content: "";
    width: 25px;
    height: 3px;
    position: absolute;
    top:48% ;
    left: 30%;
  }
  
  .right a {
    position: relative;
    bottom: -1.0rem;
    font-size: small;
  }

  .right p {
    width: 90%;
    position: relative;
    bottom: 1.0rem;
    font-size: small;
  } 
}

/* media quer for Tablet and ipad */

@media (min-width: 601px) and (max-width:900px) {
  .main {
    width: 100%;
  }

  nav {
    width: 100%;
    height: auto;
  }

  .left {
    width: 100%;
    height: 40vh;
    position: relative;
    top: 10.0rem;
  }

  .left img {
    width: 80%;
    height: auto;
    position: relative;
    left: 50px;
    bottom: -40px;
  }

  .right {
    width: 100%;
    height:auto;
    position: relative;
    top: 100px;
  }
  
  .right h1 {
    font-size: 20px;
    position: relative;
    top: -25px;
  }
  
  .right h1:after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top:48% ;
    left: 48%;
  }
  
  .right a {
    position: relative;
    bottom: -1.0rem;
    font-size: small;
  }

  .right p {
    width: 90%;
    position: relative;
    bottom: 1.0rem;
    font-size: small;
  } 
}

/* media query for Desktop and Laptop */

@media (min-width: 900px) {
  .main {
    width: 100%;
    height: 100vh;
  }

  .left {
    width: 100%;
    height: auto;
  }

  .left img {
    width: 70%;
    height: auto;
    position: relative;
    left: 70px;
    bottom: -60px;
  }

  .right {
    width: 100%;
    height:auto;
  }
  
  .right h1 {
    font-size: 20px;
    position: relative;
    top: -25px;
  }
  
  .right h1:after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top:48% ;
    left: 30%;
  }
  
  .right a {
    position: relative;
    bottom: -1.0rem;
    font-size: small;
  }

  .right p {
    width: 90%;
    position: relative;
    bottom: 1.0rem;
    font-size: 15px;
  } 
}
